.smallText {
	width:200px;
	float:left;
	margin:40px;

}

.parallax {
    /* The image used */
    background-image: url("homedeconstructbw.png");

    /* Set a specific height */
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPanel {
    /* The image used */
    background-image: url("homedeconstructbb.png");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

		z-index: 1;
}

.topPanelY {
    /* The image used */
    /*background-image: url("homedeconstructby.png");*/

		background-color: black;

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

		z-index: 1;
}

h1 {
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:white;
}
h2 {
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:white;
}
h3 {
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:white;
}
p {
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	color:white;
}

button {
  background-color: black;
  border: none;
  color: white;
  /*display: inline-block;*/
  font-size: 16px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    /*display: inline-block;*/
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    color:white;
    outline-width: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    /*display: block;*/
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: translucent;color:red}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.bgVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.sortButton {

	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:white;
	background-color: transparent;
}

.sortButton:hover {
	box-shadow: inset 0 0px 0 transparent, inset 0 -1px 0 red

}
.sortButton:focus {
	border-bottom: 2px solid red;
	outline-width: 0;
}
.projectBut {
	width:128px;
	height:128px;
	padding:20px 20px 20px 20px;
	background-color: translucent;

}
.projectButHigh {
	width:128px;
	height:128px;
	/*padding-bottom:10px;*/
	/*background-color: red;*/

	box-shadow: inset 0 0px 0 transparent, inset 0 -1px 0 red

}

@media (min-aspect-ratio: 16/9) {
  .bgVid {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bgVid {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {

  .bgVid {
    display: none;
  }
}
